@import 'Variables.scss';
@import 'Mixins.scss';

.projects {
  background-color: $white-color;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font: $title-size $custom-font;
    color: $main-color;
    text-align: center;
    margin-bottom: 3.5rem;

    @media (max-width: $screen-md) {
      font-size: 3.2rem;
    }
  }

  &__list {
    max-height: 90vh;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__image {
    border-radius: 2rem;
    overflow: hidden;
    width: 50%;

    @media (max-width: $screen-sm) {
      width: 90%;
    }
  }

  &__content {
    background: $white-color;
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    width: 80%;
    width: 80%;
    margin: -10rem 0 0 5%;

    @media (min-width: $screen-sm) {
      padding: 6rem 3rem;
      margin: 0 0 0 -8rem;
      height: 90%;
      width: 45%;
    }
  }

  &__link {
    font: 1.7rem $main-font;
    font-weight: 700;
    color: $main-color;
    transition: color .5s;
    transition: margin .5s;

    &:hover {
      margin-left: 2rem;
    }
  }

  &__text {
    color: $dark-color;
    font-family: $custom-font;
    font-size: 3rem;
    margin-bottom: 1rem;

    @media (max-width: $screen-md) {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }

  .splide {
    &__slide {
      padding: 1.5rem;

      @media (max-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__pagination {
      &__page {
        &.is-active {
          background-color: $main-color;
        }
      }
    }
  }

}
