$screen-sm:                                 560px;
$screen-md:                                 780px;
$screen-lg:                                 1200px;

// ------------- Colors
$main-color:                                #00CBC4;
$white-color:                               #ffffff;
$almost-white-color:                        #efefef;
$mid-gray-color:                            #e5e5e5;
$black-color:                               #000000;
$dark-color:                                #040D21;

// ------------- Fonts
$main-font:                                 'Lato', sans-serif;
$custom-font:                               'Libre Bodoni', serif;
$title-size:                                5rem;
$subtitle-size:                             3.6rem;
$text-size:                                 1.6rem;
